@import "../../scss/variables";
.calorieCalculator {
  &__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 880px;
    background: $bg;
    padding: 20px 0;
    border-radius: 30px;
    &-container {
      width: 580px;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
  }

  &__form {
    &-gender {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      &-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      &-span {
        width: 180px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: #ffffff;
        border: 1px solid #e3e3e3;
      }
      &-input {
        display: none;
        &:checked + .calorieCalculator__form-gender-span {
          border: 1px solid #ffd700;
          background: #fff9e3;
        }
      }
      &-label {
        cursor: pointer;
        user-select: none;
      }
    }

    &-params {
      display: flex;
      gap: 20px;
      &-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      &-input {
        background: #fcfcfc;
        width: 180px;
        height: 45px;
        border: 1px solid #e3e3e3;
        border-radius: 50px;
        padding-left: 15px;
      }
    }

    &-activity {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      &-title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
      }
      &-label {
        cursor: pointer;
        user-select: none;
      }
      &-span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: #ffffff;
        border: 1px solid #e3e3e3;
        &-img {
          width: 96px;
          height: 96px;
          display: block;
        }
        &-text {
          margin-top: 10px;
          text-align: center;
          display: block;
          font-size: 16px;
          font-weight: 600;
        }
      }
      &-input {
        display: none;
        &:checked + .calorieCalculator__form-activity-span {
          border: 1px solid #ffd700;
          background: #fff9e3;
        }
      }
    }

    &-goal {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      &-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      &-span {
        width: 180px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: #ffffff;
        border: 1px solid #e3e3e3;
      }
      &-input {
        display: none;
        &:checked + .calorieCalculator__form-goal-span {
          border: 1px solid #ffd700;
          background: #fff9e3;
        }
      }
      &-label {
        cursor: pointer;
        user-select: none;
      }
    }

    &-formula {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      &-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      &-span {
        width: 180px;
        height: 65px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 30px;
        background: #ffffff;
        border: 1px solid #e3e3e3;
      }
      &-input {
        display: none;
        &:checked + .calorieCalculator__form-formula-span {
          border: 1px solid #ffd700;
          background: #fff9e3;
        }
      }
      &-label {
        cursor: pointer;
        user-select: none;
      }
    }

    &-button {
      background: $main-color;
      border-radius: 50px;
      width: 180px;
      height: 45px;
      color: $color;
      cursor: pointer;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0 auto;
    }
  }
  &__result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #e3e3e3;
    &-title {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 20px;
    }
    &-text {
      font-size: 20px;
      line-height: 150%;
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 40px;
      &-ccal {
        gap: 5px;
        font-size: 32px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
    }
    &-img {
      width: 25px;
      height: 25px;
      &-ccal {
        width: 30px;
        height: 40px;
      }
    }
  }
}
