@use "../../scss/variables" as *;
.register {
  &__container {
    height: fit-content;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
  }
  &__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__form-input {
    width: 360px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #e3e3e3;
    padding: 10px 15px;
  }
  &__form-button {
    cursor: pointer;
    width: 360px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background: $main-color;
    color: $color;
    font-size: 16px;
    font-weight: 500;
  }
  &__text {
    margin-top: 10px;
    text-align: center;
    &-link {
      font-weight: bold;
    }
  }
}
