@import "../../scss/variables";

.favorites {
  &__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  &__recipesList {
    width: 880px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
